@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button {
  border-radius: .5rem;
  padding: 12px;
  background: none;
  outline: none;
  border: 2px solid #B99357;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #B99357;
  margin-top: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #B99357;
  color: white;
}

@-webkit-keyframes button {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes button {
  from {
    margin-left: 100%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
}

h2 {
  color: #B99357;
  font-size: 1.2rem;
  width: 35rem;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

a {
  color: #B99357;
  text-decoration: none;
  font-size: .9rem;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282727;
}

nav button {
  font-size: .9rem;
  padding: .5rem;
  margin: 0;
}

hr {
  border: none;
  border-top: 1rem solid #B99357;
  width: 1.3rem;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.paint, .drow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paint {
  background-color: #edecea;
  color: #282727;
}

.drow {
  background-color: #282727;
  color: #edecea;
}

.title {
  font-size: 40px;
}

.content-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.content-container .scluptre, .content-container .painting {
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}

.contact-container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scluptre {
  background-color: #282727;
}

.beagin {
  margin-left: 20rem;
}

.big-photo {
  margin-top: 3rem;
  position: relative;
}

.big-photo img {
  width: 80%;
  height: 100%;
}

.big-photo .rotate-headline {
  position: absolute;
  bottom: 2vw;
  left: 80%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #B99357;
  font-size: 4vw;
  letter-spacing: 0.35em;
}

.how-to-add {
  margin-left: 20rem;
  margin-top: 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.how-to-add .rotate-headline {
  position: absolute;
  bottom: 100%;
  right: 101%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #B99357;
  font-size: 2rem;
  white-space: nowrap;
}

.how-to-add img {
  float: right;
  margin-right: 0;
}

.big-title {
  font-size: 9rem;
}

.invite {
  margin: 3rem 0;
  margin-left: 20rem;
}

.invite2 {
  margin-left: 50px;
}

p {
  font-size: 1rem;
  color: #c1c1c1;
  width: 30rem;
  margin-top: 3rem;
}

.slide, .slide-2 {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  -webkit-animation: forsculp  1s ease forwards;
          animation: forsculp  1s ease forwards;
}

.slide {
  background-color: #edecea;
}

.slide-2 {
  background-color: #282727;
}

.slide-button {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 20px;
  opacity: 0;
  -webkit-animation: sectionButton .5s 1s ease forwards;
          animation: sectionButton .5s 1s ease forwards;
}

@-webkit-keyframes forsculp {
  100% {
    width: 150px;
  }
}

@keyframes forsculp {
  100% {
    width: 150px;
  }
}

@-webkit-keyframes sectionButton {
  100% {
    opacity: 1;
  }
}

@keyframes sectionButton {
  100% {
    opacity: 1;
  }
}

.light {
  background-color: #edecea;
}

.painting {
  background-color: #edecea;
}

.painting p {
  color: #282727;
}

.contact {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

fieldset {
  border-color: #B99357;
  border-radius: .6rem;
  width: 50%;
}

input, textarea {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

legend {
  font-family: 'Poppins', sans-serif;
  margin-left: 1rem;
  padding: 0 .4rem;
}

.summary-img {
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .how-to-add {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-to-add img {
    max-width: 500px;
  }
  .big-title {
    font-size: 3.4rem;
    width: 30rem;
    letter-spacing: 1.1rem;
  }
}

@media only screen and (max-width: 789px) {
  h2 {
    width: auto;
  }
  .home-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paint, .drow {
    padding: 20px 0;
  }
  p {
    width: auto;
    max-width: 22rem;
  }
  .beagin, .invite, .invite2 {
    margin: 0;
    padding: 0 5px;
  }
  .invite, .invite2 {
    margin: 3rem 0;
  }
  .how-to-add {
    margin-left: 240px;
  }
  .how-to-add img {
    max-width: 500px;
    width: auto;
    float: none;
  }
  .big-title {
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
    width: auto;
  }
  .big-photo {
    min-width: 350px;
    max-width: 600px;
  }
  .big-photo img {
    min-width: 100px;
  }
  .add-light {
    margin-left: 90px;
  }
  input, textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }
  .slide, .slide-2 {
    position: fixed;
    top: 0;
    height: calc(100vh - 100px);
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide {
    top: auto;
    bottom: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  @-webkit-keyframes forsculp {
    100% {
      height: 100px;
    }
  }
  @keyframes forsculp {
    100% {
      height: 100px;
    }
  }
  .painting-content {
    padding-top: 100px;
  }
  .sculpture-content {
    padding-bottom: 100px;
  }
  .slide-button {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-size: 15px;
    margin: 0 10px;
  }
  .how-to-add {
    margin-left: 50px;
  }
  .big-title {
    font-size: 1.5rem;
  }
  input, textarea {
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */