@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100&display=swap');

$dark-color: #282727;
$light-color: #edecea;
$gold: #B99357;
$mrg-left: 20rem;
$mrg-top: 3rem;

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

    overflow: hidden;
    display: flex;
    flex-direction: row;
}

button{
    border-radius: .5rem;
    padding: 12px;
    background: none;
    outline: none;
    border: 2px solid $gold;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: $gold;
    margin-top: 50px;
    cursor: pointer;
    // transition: .5 ease-in;
}

button:hover{
    background-color: $gold;
    color: white;
    // animation-duration: 3s;
    // animation-name: button;
}

@keyframes button{
    from {
        margin-left: 100%;
        width: 200%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
}

h2{
    color: $gold;
    font-size: 1.2rem;
    width: 35rem;
    font-family: 'Open Sans', sans-serif;

}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

a{
    color: $gold;
    text-decoration: none;
    font-size: .9rem;
}

a:hover{
    text-decoration: underline;
}

nav{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $dark-color;
    // padding-left: 160px;
    // position: fixed;
    // z-index: 2;

    button{
        font-size: .9rem;
        padding: .5rem;
        margin: 0;
    }
}



hr{
    border: none;
    border-top: 1rem solid $gold;
    width: 1.3rem;
}

.home-page{
    display: flex;
    justify-content: center;
    flex-direction: row;

    height: 100vh;
    width: 100vw;
}

.paint, .drow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paint{
    background-color: $light-color;
    color: $dark-color;
}

.drow{
    background-color: $dark-color;
    color:$light-color;
}

.title{
 font-size: 40px;
}

.content-container {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;

    .scluptre, .painting {
        height: calc(100% - 100px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.contact-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

// **************************************** //
// *******  SCLUPTORE ********************* //
// **************************************** //

.scluptre{    
    background-color: $dark-color;
    // padding-top: 150px;
}

.beagin{
    margin-left: $mrg-left;
}

.big-photo{
    margin-top: $mrg-top;
    position: relative;

    img {
        width: 80%;
        height: 100%;
    }

    .rotate-headline{
        // margin-top: -20rem;
        position: absolute;
        bottom: 2vw;
        left: 80%;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        color: $gold;
        font-size: 4vw;
        letter-spacing: 0.35em;
        // margin-left: 30rem;
    }
}

.how-to-add{
    margin-left: $mrg-left;
    margin-top: 10rem;
    position: relative;
    display: flex;
    flex-direction: row;


    .rotate-headline{
        // margin-top: -20rem;
        position: absolute;
        bottom: 100%;
        right: 101%; // <-- tutaj margines
        transform-origin: bottom right;
        transform: rotate(-90deg);
        color: $gold;
        font-size: 2rem;
        white-space: nowrap;
        // letter-spacing: 1rem;
        // margin-left: -65rem;
    }


    img{
        float: right;
        margin-right: 0;
    }
}

.big-title{
    font-size: 9rem;
}

.invite{
    margin: $mrg-top 0;
    margin-left: $mrg-left;
}

.invite2{
    margin-left: 50px;
}

p{
    font-size: 1rem;
    color: #c1c1c1;
    width: 30rem;
    margin-top: $mrg-top;
}

.slide, .slide-2{
    // width: calc(100vw - 150px);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    animation: forsculp  1s ease forwards;
    // animation-iteration-count: 1;
    // position: fixed;
}

.slide{
    background-color: $light-color;
    // left: 0;
}

.slide-2{
    background-color: $dark-color;
    // right: 0;
}

.slide-button{
    transform: rotate(-90deg);
    font-size: 20px;
    opacity: 0;
    animation: sectionButton .5s 1s ease forwards;
}

@keyframes forsculp {
    100%{
        width: 150px;
    }
}

@keyframes sectionButton {
    100%{opacity: 1;}
}

// **************************************** //
// *******        PAINT         *********** //
// **************************************** //

.light{
    background-color: $light-color;
}

.painting{
    background-color: $light-color;
    // padding-top: 150px;

    p{
        color: $dark-color;
    }
}


// CONTACT

.contact{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

fieldset{
    border-color: $gold;
    border-radius: .6rem;
    width: 50%;
}

input, textarea{
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

legend{
    font-family: 'Poppins', sans-serif;
    margin-left: 1rem;
    padding: 0 .4rem;
}

.summary-img {
    width: 100%;
}

@media only screen and (max-width: 1250px) {
    .how-to-add{
        flex-direction: column;

        img{
            max-width: 500px;
        }
    }

    .big-title{
        font-size: 3.4rem;
        width: 30rem;
        letter-spacing: 1.1rem;
    }
}

@media only screen and (max-width: 789px) {
    h2 {
        width: auto;
    }

    .home-page{
        flex-direction: column;
    }

    .paint, .drow{
        padding: 20px 0;
    }
    
    p{
        width: auto;
        max-width: 22rem;
    }

    .beagin, .invite, .invite2{
        margin: 0;
        padding: 0 5px;
    }

    .invite, .invite2 {
        margin: 3rem 0;
    }

    .how-to-add{
        margin-left: 240px;

        img{
            max-width: 500px;
            // width: 300px;
            width: auto;
            float: none;
        }
    }

    .big-title{
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        width: auto;
    }

    // .light-sec{
    //     margin-left: 50px;

    //     p{
    //         max-width: 300px;        
    //     }
    // }

    .big-photo{
     min-width: 350px;
     max-width: 600px;

     img{
         min-width: 100px;
     }
    }

    .add-light{
        margin-left: 90px;
    }

    .contact{
    
    }

    input, textarea{
        width: 300px;
    }
}


@media only screen and (max-width: 500px) {
    body {
        overflow: hidden;
    }

    .slide, .slide-2{
        position: fixed;
        top:0;
        height: calc(100vh - 100px);
        width: 100vw;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .slide {
        top: auto;
        bottom: 0;

        justify-content: flex-end;
    }

    @keyframes forsculp {
        100%{
            height: 100px;
        }
    }

    .painting-content {
        padding-top: 100px;
    }

    .sculpture-content {
        padding-bottom: 100px;
    }

    .slide-button{
        transform: rotate(0deg);
        font-size: 15px;
        margin: 0 10px;
    }

    // .beagin, .how-to-add, .invite{
    //     margin-left: 50px;
    // }

    .how-to-add{
        margin-left: 50px;
    }

    .big-title {
        font-size: 1.5rem;
    }

    input, textarea{
        width: 250px;
    }

}